@tailwind base;
@tailwind components;
@tailwind utilities;


/* Optional custom styling */

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f3f4f6;
}

input {
  outline: none;
}

button {
  transition: 0.3s;
}